<div class="row">
  <div class="col-md-6">
      <div class="well">
        <h1 class="contact-info">Contact Info</h1>
            <strong><%= @user.profile.first_name %> <%= @user.profile.last_name %></strong><br />
            <i class="fa fa-phone"></i> <%= @user.profile.phone_number %><br />
             <%= @user.profile.city %>, <%= @user.profile.country %>
      </div>
  </div>
  <div class="col-md-6">
    Advertisements
  </div>
</div>