<div class="row">
  <div class="col-md-6">
      <div class="well">
        <h2 class="contact-info">Contact Info</h2>
            <span class="name"><%= @user.profile.first_name %> <%= @user.profile.last_name %></span>
            <i class="fa fa-phone"></i> <%= @user.profile.phone_number %><br />
            <i class="ion-email"></i> <%= @user.profile.contact_email %><br />
            <i class="ion-ios-world"></i> <%= @user.profile.city %>, <%= @user.profile.country %>
      </div>
  </div>
  <div class="col-md-6">
    Advertisements
  </div>
</div>