<div class="row">
  <h2 class="products text-center">Products</h2>
      <% @products.each do |product| %>
          <p><%= product.name %></p>
      <div class="well product">
        <% if product.image_url.empty? %>
            <%=  product.blank_img %>
         <% else %>
          <%= image_tag product.image_url.to_s %><br />
         <% end %>
        <h4>Description</h4>
          <%= product.description %><br />
          <span class="price">$<%= product.price %></span>
        </div>
      <% end %>
</div>