<div class="row">
  <h2 class="products text-center">Products</h2>
      <% @products.each do |product| %>
          <p><%= product.name %></p>
      <div class="well product">
        <% if product.image_url.empty? %>
            <%=  product.blank_img %>
         <% else %>
          <%= link_to image_tag(product.image_url.to_s), product_path(product) %><br />
         <% end %>
        <h4>Description</h4>
          <%= product.description %><br />
          <span class="price">$<%= number_with_precision(product.price, precision: 2, delimeter: ",") %></span>
        </div>
      <% end %>
</div>